.item {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border-left: 1px solid #ddd;
    padding: 10px;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    animation: fade 0.5s;

}

.item:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transform: scale(1.05);
}

.item:hover .cart-icon {
    opacity: 1;
    animation: fade 0.5s;
}

.item-view .item-image {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;

}

.item-info #name {
    font-weight: 500;
    color: #209693;
    font-size: 13px;
}

.item-info #price {
    margin: 5px;
    position: relative;
    bottom: -50px;
    font-weight: 500;
    color: #363636;
    font-size: 18px;
}

.cart-icon {
    color: #209693;
    position: relative;
    left: 120px;
    bottom: -15px;
    width: 30px;
    height: 30px;
    opacity: 0.3;
    cursor: pointer;

}