.new-category {
    width: 70%;
    margin-left: max(25px, 5vw);
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.category,
.sub-categories {
    max-width: max(30%, 250px);
    box-sizing: border-box;
}

.sub-category,
.current-category {
    display: flex;
    align-items: center;
    gap: 5px;
    width: 100%;
}

.sub-category input,
.current-category input {
    flex: 1;
}

.sub-category .icon,
.current-category .icon {
    min-width: 15px;
    min-height: 15px;
    color: #209693;
}