.new-category {
    width: 70%;
    margin-left: max(25px, 5vw);
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.category,
.sub-categories {
    max-width: max(30%, 250px);
}

.sub-category,
.current-category {
    display: flex;
    align-items: center;
    gap: 15px;
    width: 100%;
    box-sizing: border-box;
}

.sub-category input,
.current-category input {
    flex:1;
}

.sub-category .icon,
.current-category .icon {
    min-width: 15px;
    min-height: 15px;
    color: #209693;
}

.sub-category .cross-icon {
    min-width: 15px;
    min-height: 15px;
    color: #209693;
    transition: color 0.3s ease-in-out;
    cursor: pointer;
}
.sub-category .cross-icon:hover {
    color: #ea3d3d;
}