.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid #ddd;
    border-top: 10px solid #209693;
    padding-right: 200px;
    padding-left: 200px;
}

p {
    color: #363636;
    font-size: 13px;
    margin: 0;
    margin-left: 5px;
}

.welcome-msg {
    margin-top: 5px;
}

.nav {
    margin-top: 5px;
    display: flex;
    gap: 10px;
}

.nav div {
    border-right: 1px solid #ddd;
    padding-right: 10px;
    display: flex;
    margin: 5px;
    align-items: center;
}


@media (max-width:1200px) {
    .navbar{
        display: none;
    }
}
