.items-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
    width: 100%;
    box-sizing: border-box;
    grid-row-gap: 40px; /* Gap between rows */
    grid-column-gap: 20px; /* Gap between columns */
    grid-auto-rows: 320px;
}