.header {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    box-sizing: border-box;
    grid-column-gap: 20px;
    width: 100%;
    margin: 10px;
    
}

.search-bar {
    display: inline-flex;
    border: 2px solid #209693;
    height: 40px;
    border-radius: 100px;
    align-items: center;
}

.search-bar input {
    border: 0px;
    margin-right: 5px;
    margin-left: 10px;
    height: 100%;
    width: 250px;
    background-color: transparent;
    color: #363636;
}

.search-bar input:focus {
    outline: none;
}


.search-bar select {
    border: 0px;
    background-color: transparent;
    margin-right: 5px;
    height: 100%;
    font-weight: 300;
    color: #363636;
}

.search-bar select:focus {
    outline: none;
}

.search-bar button {
    border: 2px solid #209693;
    background-color: #209693;
    height: 100%;
    width: 50px;
    padding: 5px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;

}

.search-icon {
    color: white;
    height: 100%;
    width: 80%;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo p{
    position: relative;
    bottom: 30px;
    right: 5px;
    font-weight: 500;
    font-size: 24px;
    color: #209693;;
}

.logo img {
    width: 300px;
    height: 200px;
    object-fit: contain;
    margin: 0 auto;
}

.cart-items{
    display: flex;
    align-items: center;
    justify-content: center;
} 

.bag-icon{
    height: 30px;
    width: 30px;
    color: #363636;

}

.cart-items p{
    font-weight: 500;
    font-size: 16px;
} 