.header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    box-sizing: border-box;
    grid-column-gap: 10px;
    width: 80%;
    margin: 10px;
    margin-top: 30px;

    .search-bar {
        display: flex;
        border: 2px solid #209693;
        border-radius: 10px;
        height: 40px;
        width: 100%;

        input {
            border: 0px;
            margin-right: 5px;
            margin-left: 10px;
            height: 100%;
            background-color: white;
            color: #3c3b3b;
            flex: 1;
        }



        select {
            border: 0px;
            background-color: white;
            margin-right: 5px;
            height: 100%;
            font-weight: 300;
            color: #3c3b3b;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
        }


        button {
            background-color: #209693;
            border: none;
            height: 100%;
            width: 60px;
            padding: 5px;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
        }

        .search-icon {
            color: white;
            height: 100%;
            width: 80%;
        }
    }


    .logo {
        display: flex;
        flex-direction: column;
        align-items: center;

        p {
            font-weight: 500;
            font-size: 24px;
            color: #209693;
        }

        img {
            width: 150px;
            height: 100px;
            object-fit: contain;
            margin: 0 auto;
        }
    }



    .cart-items {
        display: flex;
        align-items: center;
        justify-content: center;
        justify-self: center;
        align-self: center;
        width: fit-content;
        height: fit-content;
        position: relative;

        &:hover {

            .bag-icon,
            p {
                color: #209693;
            }
        }

        .dot {
            padding: 3px 0px;
            color: white;
            font-size: 12px;
            height: 20px;
            width: 20px;
            border-radius: 50%;
            background-color: #209693;
            position: absolute;
            right: 65px;
            top: 20px;
            text-align: center;
            vertical-align: middle;
        }

        .bag-icon {
            height: 30px;
            width: 30px;
            color: #363636;
        }

        p {
            font-weight: 500;
            font-size: 16px;
        }
    }

}

.header.visible {
    display: none;
}

.small-header.visible {
    transform: translateY(0);

    .border-div {
        display: none;
    }
}

.small-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 35px;
    background-color: rgb(255, 255, 255);
    z-index: 2;
    transition: transform 0.3s ease-in-out;
    transform: translateY(-100%);

    .left-right-header {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        .cetner-header {
            height: 40px;
            display: flex;
            flex-grow: 1;
            flex-shrink: 1;
            justify-content: center;
            align-items: center;
            border-radius: 10px;


            input {
                height: 100%;
                flex-grow: 4;
                flex-shrink: 1;
                border: #209693 2px solid;
                border-right: 0px;
                font-weight: 300;
                font-size: 16px;
                color: #3c3b3b;
                padding: 10px;
                border-top-left-radius: inherit;
                border-bottom-left-radius: inherit;

            }

            select {
                color: #3c3b3b;
                height: 100%;
                border: 0px;
                background-color: white;
                border: #209693 2px solid;
                border-right: 0px;
                border-left: 0px;
            }

            button {
                flex-grow: 0.5;
                height: 100%;
                border: 0px;
                background-color: #209693;
                border-top-right-radius: inherit;
                border-bottom-right-radius: inherit;
            }

            button {
                cursor: pointer;
                transition: background-color 0.3s;
            }

            button:hover {
                background-color: #31363F;
            }

            .search-icon {
                color: white;
                height: 50%;
                width: 50%;
            }
        }
    }

    .border-div {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 10px;
        background-color: #209693;
    }

    .left-header {
        flex-grow: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 25px;
        color: #209693;
    }

    .left-header .list-icon {
        visibility: hidden;
        height: 25px;
        width: 25px;
        cursor: pointer;
    }

    .left-header .small-logo img {
        width: 100%;
        height: 60px;
    }

    .right-header {
        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        color: #209693;
    }

    .right-header .right-icon {
        height: 30px;
        width: 30px;
    }

    .right-icon.search {
        visibility: hidden;
    }

    .cart-items {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        .dot {
            padding: 3px 0px;
            color: white;
            font-size: 12px;
            height: 20px;
            width: 20px;
            border-radius: 50%;
            background-color: #209693;
            position: absolute;
            right: -5px;
            top: 20px;
            text-align: center;
            vertical-align: middle;
        }

        p {
            font-weight: 500;
            font-size: 16px;
        }
    }

}



@media (max-width: 1200px) {
    .header {
        display: none;
    }

    .small-header {
        transform: translateY(0);

        .left-header {
            justify-content: flex-start;

            .list-icon {
                visibility: visible;
            }

            .small-logo {
                img {
                    height: 40px;
                }
            }
        }

        .right-header {
            justify-content: flex-end;

            .right-icon {
                height: 25px;
                width: 25px;
            }

            .right-icon.search {
                visibility: visible;
            }
        }


        .left-right-header {
            .cetner-header {
                display: none;
            }
        }
    }

}